html {background-color: black}

@font-face {
    font-family: '8bitOperatorPlus-Regular', monospace;
    src: url(8bitOperatorPlus-Regular.woff);
}

.container {
    display: none;
}
  
  .container.playing {
    display: block;
}
