/* ------------------------------------------------------------------------------ */

@font-face {
    font-family: Monofonto;
    src: url(./Monofonto.ttf);
  }
  
  .buttonn {
    font-family: 'Monofonto', monospace; background-color: transparent; color: white; cursor: pointer; overflow: hidden; background-repeat:no-repeat;  border: none; font-size: 100%
  }
  
  .fade-in { animation: fadeIn 3s; }
  
  .fade-in-image { animation: fadeIn 7s; }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .float{
      position:fixed;
      width:30px;
      height:30px;
      bottom:40px;
      right:40px;
    z-index: 30;
  }
  
  .floatt{
      position:fixed;
    z-index: 20;
    height: 160px;
    width: 160px;
  }
  
  .blink {
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
    opacity: 0;
      }
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .entry {
    color: white;
    margin-left: 5px;
  }
  
  .entry:hover {
    background: white;
    color: black;
    margin-left: 5px;
  }
  
  .entry1 {
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  
  .entry1:hover {
    background: white;
    color: black;
    cursor: pointer;
    border: none;
  }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls::before,
  .balls::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls::before {
    --bg-color: black;
    --typewriterSpeed: 3s;
    --typewriterCharacters: 22;
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .balls::after {
    width: 13px;
    animation: typewriter2 var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls2 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls2::before,
  .balls2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls2::before {
    --bg-color: black;
    --typewriter2Speed: 1.5s;
    --typewriter2Characters: 11;
    background: var(--bg-color);
    animation: typewriter2 var(--typewriter2Speed)
      steps(var(--typewriter2Characters)) 1s forwards;
  }
  
  .balls2::after {
    width: 13px;
    animation: typewriter2 var(--typewriter2Speed)
        steps(var(--typewriter2Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter2Characters)) infinite;
  }
  
  @keyframes typewriter2 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp2 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls3 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls3::before,
  .balls3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls3::before {
    --bg-color: black;
    --typewriter3Speed: 1.5s;
    --typewriter3Characters: 14;
    background: var(--bg-color);
    animation: typewriter3 var(--typewriter3Speed)
      steps(var(--typewriter3Characters)) 1s forwards;
  }
  
  .balls3::after {
    width: 13px;
    animation: typewriter3 var(--typewriter3Speed)
        steps(var(--typewriter3Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter3Characters)) infinite;
  }
  
  @keyframes typewriter3 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp3 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls4 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls4::before,
  .balls4::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls4::before {
    --bg-color: black;
    --typewriter4Speed: 1.5s;
    --typewriter4Characters: 9;
    background: var(--bg-color);
    animation: typewriter4 var(--typewriter4Speed)
      steps(var(--typewriter4Characters)) 1s forwards;
  }
  
  .balls4::after {
    width: 13px;
    animation: typewriter4 var(--typewriter4Speed)
        steps(var(--typewriter4Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter4Characters)) infinite;
  }
  
  @keyframes typewriter4 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp4 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls5 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls5::before,
  .balls5::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls5::before {
    --bg-color: black;
    --typewriter5Speed: 1.5s;
    --typewriter5Characters: 11;
    background: var(--bg-color);
    animation: typewriter5 var(--typewriter5Speed)
      steps(var(--typewriter5Characters)) 1s forwards;
  }
  
  .balls5::after {
    width: 13px;
    animation: typewriter5 var(--typewriter5Speed)
        steps(var(--typewriter5Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter5Characters)) infinite;
  }
  
  @keyframes typewriter5 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp5 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls6 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls6::before,
  .balls6::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls6::before {
    --bg-color: black;
    --typewriter6Speed: 1.5s;
    --typewriter6Characters: 8;
    background: var(--bg-color);
    animation: typewriter6 var(--typewriter6Speed)
      steps(var(--typewriter6Characters)) 1s forwards;
  }
  
  .balls6::after {
    width: 13px;
    animation: typewriter6 var(--typewriter6Speed)
        steps(var(--typewriter6Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter6Characters)) infinite;
  }
  
  @keyframes typewriter6 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp6 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.balls7 {
    position: relative;
    font-family: "Monofonto", monospace;
    position: relative;
    width: max-content;
  }
  
  .balls7::before,
  .balls7::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .balls7::before {
    --bg-color: black;
    --typewriter7Speed: 1.5s;
    --typewriter7Characters: 7;
    background: var(--bg-color);
    animation: typewriter7 var(--typewriter7Speed)
      steps(var(--typewriter7Characters)) 1s forwards;
  }
  
  .balls7::after {
    width: 13px;
    animation: typewriter7 var(--typewriter7Speed)
        steps(var(--typewriter7Characters)) 1s forwards,
      blink 750ms steps(var(--typewriter7Characters)) infinite;
  }
  
  @keyframes typewriter7 {
    to {
      left: 100%;
    }
  }
  
  @keyframes fadeInUp7 {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }